{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="MobileOptimized" content="236">
    <meta http-equiv="Cache-Control" content="max-age=900">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="51阅读手机版提供最新免费言情小说手机阅读及下载。包括言情小说，玄幻小说，穿越小说，都市小说，言情小说书库等。">
    <title>51阅读</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/ipindex141022.css' %} " media="screen">
    <script src="
    {% static 'js/jquery-1.2.1.pack.js' %}"></script>
    <script src="{% static 'js/ipindex140827.js' %}"></script>

</head>
<body style="position: static;">
<div id="box" class="coll">
    <div class="load-restore">
        <a>正在加载</a>
    </div>
    <div class="load-mask">
    </div>
</div>
<div class="pic">


</div>
<div class="top">
    <ul class="fn-clear">

        <li class="logo"><a></a></li>
        <li><a id="goSearch"></a></li>
    </ul>
</div>
<div id="jsSearch">
    <form class="search" name="form1" action="wap/search" method="post">
        <input name="key" value="校花" style="color: #ACACAC" type="text" id="query" class="input">
        <input type="submit" value="搜索">

    </form>

</div>
{#<div id="jsUnlogin">#}
{#    <form id="form" name="form" action="http://login.sns.hongxiu.com/waploginhox.aspx" method="post"#}
{#          accept-charset="gb2312">#}
{#        <div id="centerInp">#}
{#            <div class="inp">#}
{#                <span>用户名：</span><input name="htmlUserName" type="text" id="htmlUserName" class="tex"></div>#}
{#            <div class="inp">#}
{#                <span>密&nbsp;&nbsp;&nbsp;码：</span><input name="htmlPassword" type="password" id="htmlPassword"#}
{#                                                         class="tex"></div>#}
{##}
{#            <input type="hidden" id="url" name="url" value="http://m.hongxiu.com/">#}
{#        </div>#}
{#        <div class="check">#}
{#            <input checked="checked" id="iskeeplogin" name="iskeeplogin" type="checkbox" value="true"><label#}
{#                for="iskeeplogin">记住登录状态</label></div>#}
{#        <div class="btn">#}
{#            <a class="btn1" href="javascript:void(0)javascript:;" onclick="form.submit()">登录</a></div>#}
{#        <span class="moredl"><a href="javascript:void(0)/r.ashx?t=loginnew">更多登录&gt;&gt;</a></span>#}
{##}
{#        <div>#}
{#            <a href="javascript:void(0)javascript:;"#}
{#               onclick="window.location.href='https://graph.qq.com/oauth2.0/authorize?response_type=code&amp;client_id=100266825&amp;state=wap(a)iphone(a)user(e)aspx&amp;scope=get_user_info,add_idol&amp;redirect_uri=login.sns.hongxiu.com/QQLogin/QQLoginPage.aspx';">QQ登陆</a>&nbsp;|&nbsp;<a#}
{#                href="javascript:void(0)javascript:;" onclick="alipaylogin();">支付宝登陆</a>&nbsp;|&nbsp;<a#}
{#                href="javascript:void(0)/r.ashx?t=reg">注册</a>&nbsp;|&nbsp;<a#}
{#                href="javascript:void(0)http://wap.hongxiu.com/iphone/showhelp.aspx?id=23">找回密码</a></div>#}
{#    </form>#}
{#</div>#}
{#<div id="jsLogined">#}
{#    <div>#}
{#        <div id="centerInp1">#}
{#            <div class="inp1">#}
{#                会员帐号：<span id="jsusername"></span><a id="jsloginout" style="color: #e25e51; margin-left: 12px;">退出</a>#}
{#            </div>#}
{#            <div class="inp1" id="jsvip">#}
{#                会员等级：<span id="jsVipClass"></span>&nbsp;&nbsp;&nbsp;&nbsp;红 袖 币：<span id="jsHXB"></span></div>#}
{#        </div>#}
{#        <div class="btn">#}
{#            <a class="btn2" href="javascript:void(0)/r.ashx?t=pay">充值</a><a class="btn2"#}
{#                                                                            href="javascript:void(0)/r.ashx?t=fav">藏书架</a><a#}
{#                style="color: #e25e51;" href="javascript:void(0)/r.ashx?t=user">进入个人中心</a></div>#}
{#    </div>#}
{#</div>#}

<script>inithead()</script>

<!--
<div class="nav indexnav">
    <a class="click" href="javascript:void(0)/">首页</a><a href="javascript:void(0)/r.ashx?t=toplistnew">排行</a><a
        href="list1.htm">分类</a><a href="javascript:void(0)/r.ashx?t=fav">书架</a><a
        href="javascript:void(0)http://m.hongxiu.com/quanben.htm">全本</a></div>
<div class="nav2">
    <a href="javascript:void(0)/chuanyue.htm">穿越</a><a href="javascript:void(0)/zongcai.htm">总裁</a><a
        href="javascript:void(0)/guyun.htm">古典</a><a href="javascript:void(0)/gaogan.htm">都市</a><a class="n_right"
                                                                                                   href="javascript:void(0)http://sns.wap.hongxiu.com/iphone/clientdown.aspx">客户端</a>
</div>
-->

{% for Item in retAllNovelCategory %}
    <div>
        <div class="title">
            <span class="arr"><a href="javascript:void(0)/zongcai.htm">&gt;</a></span><a
                href="javascript:void(0)/zongcai.htm">{{ Item.categoryName }}</a></div>


        <div class="con">
            <a href="wap/getNovelInfo/bookid/{{ Item.recommend.chapterlistId }}">
                <img src="{{ Item.recommend.novel_imgurl }}">
                <h3>{{ Item.recommend.novel_name }}</h3>
                <p>{{ Item.recommend.novel_description }}</p>
            </a>
        </div>
        <ol>


            {% for bookItem in Item.novelList %}
                {% if not forloop.first %}
                    <li><a href="wap/getNovelInfo/bookid/{{ bookItem.chapterlistId }}"
                           title="{{ bookItem.novel_name }}">{{ bookItem.novel_name }}</a></li>

                {% endif %}
            {% endfor %}


            <li class="g_btn"><a href="javascript:void(0)/zongcai.htm">进入{{ categoryName }}...</a></li>
        </ol>
    </div>
{% endfor %}
<!--
<div>
    <div class="title">
        公告列表
    </div>
    <ol>
        <li><a href="javascript:void(0)http://wap.hongxiu.com/gonggao/gonggao43.htm" style="color:#FF0000"
               title="2016作家福利震撼来袭！">2016作家福利震撼来袭！</a></li>
        <li><a href="javascript:void(0)http://wap.hongxiu.com/gonggao/gonggao40.htm" title="红袖响应“净网2015”专项行动">红袖响应“净网2015”专项行动</a>
        </li>
        <li><a href="javascript:void(0)http://hongxiu.cn/clientdown/" title="新版客户端强势来袭，点击下载！">新版客户端强势来袭，点击下载！</a>
        </li>
    </ol>
</div>
-->

<div class="footer">
  <!--  <div class="version">
        <a href="javascript:void(0)http://w.hongxiu.com">简约版</a><a
            href="javascript:void(0)http://pad.hongxiu.com">PAD版</a><a href="javascript:void(0)javascript:;"
                                                                       onclick="gotourl();">电脑版</a></div>
    <div class="footer-nav">
        <a href="javascript:void(0)http://sns.wap.hongxiu.com/iphone/help.aspx">帮助</a>|<a
            href="javascript:void(0)http://sns.wap.hongxiu.com/iphone/friendlink.aspx">酷站导航</a>


    </div>
    -->

</div>
<div class="btm">
    <span>2018</span>
<!--    <a href="javascript:void(0)/nav.htm">快速导航</a><a
        href="javascript:void(0)http://chat.wap.hongxiu.com/chatclient.aspx">在线客服</a>

-->
</div>
</body>
</html>