{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" name="viewport">
    <link href="javascript:void(0)http://wap.hongxiu.com/img/iphone/iphone.png" sizes="114*114"
          rel="apple-touch-icon-precomposed">
    <meta content="236" name="MobileOptimized">
    <title>搜索结果</title>
    <meta name="description" content="穿越时空馆小说,红袖添香小说网手机版提供最快更新穿越时空馆小说、全本穿越时空馆小说、现代穿越时空馆小说、穿越时空馆系列小说。">
    <link type="text/css" rel="stylesheet" href="{% static 'css/ipindex141022.css' %} " media="screen">
    <link type="text/css" rel="stylesheet" href="{% static 'css/defaultip20141118.css' %}" media="screen">

    <script src="
    {% static 'js/jquery-1.2.1.pack.js' %}"></script>
    <script src="{% static 'js/ipindex140827.js' %}"></script>

</head>
<body style="position: static;">
<div class="top">
    <ul>
        <li><a id="goBuck" href="javascript:history.go(-1)"></a></li>
        <li class="shuji">书籍详情</li>
       <!-- <li><a id="goCenter"></a></li> -->
        <li><a id="goHome" href="/wap/index"></a></li>
    </ul>
</div>
<div id="jsuser" style="display:none;"></div>
<script>inithead()</script>

<div id="divedit">
    <div>
        <div class="title"><a href="#">关键字{{keyword}}搜索结果如下</a></div>






            {% for bookItem in novelList %}
                <div class="con">
            <a href="getNovelInfo/bookid/{{bookItem.chapterlistId}}">
                <img src="{{ bookItem.novel_imgurl }}">
                <h3>{{ bookItem.novel_name }}</h3>
                <p>{{ bookItem.novel_description }}</p>
            </a>

        </div>
            {% endfor %}




    </div>


</div>
<div class="footer">
    <!-- <div class="version">
        <a href="#" id="html3g">简约版</a><a
            href="#">PAD版</a></div> -->
</div>


</body>
</html>