@charset "utf-8";
html,body,button,input,select,textarea{color:#444;font-family:"΢���ź�",Arial;font-size:15px;line-height:23px;margin:0;-webkit-text-size-adjust:none;padding:0}
html{background-color:#efefef}
a{text-decoration:none;color:#414141;-webkit-tap-highlight-color:rgba(255,0,0,0);}
ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,p,form,span,i,u,cite,small,table,img,div{border:none;padding:0;margin:0;list-style:none;font-style:normal}
img,a img{border:none;padding:0;margin:0}

/*��͸����ʾ*/
.coll{margin:auto;top:40%;left:20%;position:fixed;z-index:900;width:60%}
.load-mask{border-radius:10px;border:1px solid #888888;z-index:999;width:100%;height:90px;background-color:#000;opacity:0.6}
.load-restore{position:absolute;z-index:9999;text-align:center;width:100%;padding-top:35px}
.load-restore a{color:#F00}
/*��ɫlogo*/
div.top{background:#e7604a;height:55px;width:100%}
.fn-clear{zoom:1}
div.top ul li{text-align:center;float:left;line-height:55px;height:55px;width:15%;color:#fff}
div.top #goSearch,div.top #goCenter,div.top ul li.logo a,ul.l3 li i,.footer .footer-nav a span.buck,.title a span.rlink,.title a span.rlinkclose{background:url('../images/shouye.png') no-repeat;width:35px;height:55px;display:inline-block;background-size:200px auto}
div.top ul li.logo{width:70%}
div.top ul li.logo a{width:150px;height:55px;background-position:-10px -201px}
div.top #goSearch{background-position:-70px -40px}
div.top #goCenter{background-position:-10px 8px}
.loginedico{background-position:-13px -40px}
/*������*/
#jsSearch{margin:10px auto;padding-top:5px;display:none}
.search{width:90%;height:34px;text-align:center;margin:0 auto;padding-left:1%}
.search .input{float:left;border:1px solid #bbb;font-size:14px;height:26px;line-height:26px;overflow:hidden;padding:2px 0 2px 4px;width:75%}
.search .btn{float:left;padding:4px 0;background:#e7604a;border:1px solid #e7604a;color:#FFF;font-size:14px;font-weight:bold;margin-left:1%;width:20%}
span.more,.moredl{width:100px;display:block;margin:5px auto}
span.more a,.moredl a{color:#e7604a}
.moredl{width:220px}
span.arr{ float:right; color:#999; padding-right:2%; text-indent:0;}
span.arr a{ color:#999;}
/*��������*/
#jsUnlogin{text-align:center;padding:10px 0}
#jsLogined{margin-left:10px;padding:10px 0 15px}
#centerInp{height:75px;margin:0 auto;text-align:center}
#centerInp1{margin-bottom:10px}
.inp,.inp1{padding:2px 0}
.inp span{font-size:14px;width:70px;padding:4px 0 0 0}
.tex{width:142px;height:24px;line-height:24px;padding:3px;border:1px solid #BABABA;font-size:16px}
.check{margin:0 auto;width:220px;height:25px;clear:both;text-align:center;line-height:25px;padding:5px 0;vertical-align:middle}
.check a{color:#e7604a;padding:5px 10px}
.btn .btn1{padding:5px 85px;background:#e7604a;border:none;font-size:16px;font-weight:bold;color:#fff;margin:5px auto}
.btn .btn2{padding:5px 25px;background:#e7604a;border:none;font-size:16px;font-weight:bold;color:#fff;margin-right:10px}
/*��ҳ����*/
div.nav{background-color:#fff;padding:2px 0;height:40px;line-height:38px;clear:both}
div.nav a{color:#000;display:block;width:21%;text-align:center;float:left;font-size:18px;margin:0 2%}
div.nav a.click{border-bottom:4px #e7604a solid}
div.nav2{background-color:#ddd;padding:10px 0;height:18px;line-height:18px;clear:both; overflow:hidden}
div.nav2 a{color:#000;display:block;width:18%;text-align:center;float:left;font-size:16px; border-right:1px solid #ccc;margin:0 1%}
div.nav2 a.n_right{margin:0;border-right:none}
ul.l1{overflow:auto;margin:0 4px;padding:2px 0 2px 0}
ul.l1 li{float:left;text-align:center;width:33.3%}
ul.l1 li a{display:block}
ul.l1 li img.book_cover{width:85%;padding:5px 3px}
ul.l1 li h1{text-align:center;padding:0 3%;font-size:14px;color:#4a4a4a;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
/*�����Ķ�+�����Ƽ�*/
.title{font-weight:bold;width:95%;height:40px;line-height:40px;background:#fff;color:#4a4a4a;font-size:16px;text-indent:4%;margin:2px auto}
.title a.open{text-indent:0;color:#959595;font-size:14px;font-weight:normal;float:right;margin-right:0px}
.title a span.rlink,.title a span.rlinkclose{width:30px;height:40px;background-position:-85px -148px ;float:right}
.title a span.rlinkclose{background-position:-85px -100px}
#divHistory li a:active,#divHistorymore li a:active,ol li a:active,.con a:active{background:#efefef;}
#divHistory li a:hover,#divHistorymore li a:hover,ol li a:hover,.con a:hover{background:#efefef;}
/*��ʱ����*/
ol{margin:0 auto 8px ;width:95%;clear:both}
ol li{background:#fff;border-bottom:1px solid #efefef}
ol li a{width:95.1%;display:block;line-height:40px;height:40px;padding-left:5%}
ol.free{margin-top:5px;text-indent:4%;border:1px #54a3b4 solid;width:95%;line-height:40px;}
ol.free li{width:100%;background:#e9fcff;height:40px;border-bottom:1px solid #bce2e5}
ol.free li a{text-indent:0;background:#e9fcff;float:left;display:block;width:60%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.daojishi{font-size:16px;float:right;margin-right:5%;color:#e25e51}
/*������ǩ*/
.btn4{height:45px;text-align:center;background-color:#fff;width:95%;margin:3px auto;clear:both}
.tab-clear{zoom:1;width:95%;height:45px;position:absolute}
.tab-clear li{float:left;text-align:center;width:25%;height:45px;line-height:45px;margin-right:-1px;border-right:1px #efefef solid}
.tab-clear li a:hover{color:#414141}
.tab-clear li.click a{display:block;color:#fff;-webkit-tap-highlight-color:rgba(255,0,0,0);}
.tab-clear li.click a:hover{color:#fff}
.hotbgclick{background:#19b8d8;width:25%}
#hotdiv{width:100%;margin:0 auto;padding:0;position:relative; height:462px;overflow:hidden}
#hotinfo1,#hotinfo2,#hotinfo3,#hotinfo4{width:100%;position:absolute}
#jsSearch,#jsUnlogin,#jsLogined,#jsdivHistory,#divHistorymore,#hotinfo2,#hotinfo3,#hotinfo4,#jsreadup,.coll{display:none}
/*�Ƽ��鼮����*/
.con{width:95%;height:135px;background:#fff;color:#4a4a4a;margin:0 auto}
.con a{width:100%;height:141px;display:block}
.con a img{width:90px;height:117px;float:left;margin:8px 15px 0 15px}
.con a h3{font-weight:normal;font-size:16px;padding:16px 0 10px}
.con a p{margin-right: 5px;font-size:13px;line-height:25px;height:75px;overflow:hidden;display:block;color:#999}
/*�����Ƽ�*/
.g_btn{text-align:center}
.g_btn a{color:#a6a6a6}
/*����ͼ*/
ul.l2{overflow:auto;margin:0;padding:0}
ul.l2 li{float:left;text-align:center;width:50%;padding:0}
ul.l2 li a{display:block;margin:0;padding:0}
ul.l2 li a img{width:90%;margin:0;padding:0}
/*����*/
.pic {background-color: #eee;width:95%;overflow:auto;margin:0 auto}
.pic img {width:100%;}
/*�ײ�*/
.footer{width:100%;height:110px;background:#fff;margin-top:2px}
.version{padding-top:20px;text-align:center}
.version a{line-height:40px;padding:10px 7%;background:#efefef;margin:0 3px;color:#676767}
.footer .footer-nav{text-align: center;overflow: hidden;margin:10px 0}
.footer .footer-nav a{padding:0 15px;color:#676767}
.footer .footer-nav a span.buck{width:30px;height:20px;background-position:-85px -115px ;float:right}
.btm{background-color:#e7604a;height:55px;line-height:55px;clear:both}
.btm span{color:#fff;float:left;padding-left:10px}
.btm a{color:#fff;float:right;padding-right:10px}
ol#divHistory  li em,ol#divHistorymore  li em { height:40px; font-weight:bold;margin:0; background-color:#CCC}
ol#divHistory  li,ol#divHistorymore  li { height:40px;width:100%}
ol#divHistory  li a,ol#divHistorymore  li a{ display:block;   float:left;height:40px;width:75%; overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
ol#divHistory  li em a,ol#divHistorymore  li em a{ width:20%;padding-left:0; text-align:center;background-color:#ddd}

div.adv{ background:#14b9d5; height:55px; text-align:center; display:block}
div.adv a{ display:block }

div.adv2{height:47px; text-align:center; display:block ;background:url(../images/ad3.gif) no-repeat center ;font-size:19px; background-color:#14b9d5;padding:8px 0 0 0; text-indent:55px; font-family:"΢���ź�"; font-weight:bold }
div.adv2 a{ color:#fff; display:block;}

/*�ղؼ���ʽ*/
#jsstorebg,#jsstoretxt{position:fixed; bottom:0;width:100%;height:30px;display:none;color:#E58727;text-align: center;font-weight:bold;z-index:999}
#jsstorebg{background-color:#F1E0C2;opacity:0.9;}
#jsstoretxt a{color:#E58727;}
#jsstoretxt span{float:right;margin-right:10px}
/*�ײ����ؿͻ���ͼ��*/
.pop_xz{ position:fixed; bottom:0;left:0; z-index:666;width:100%}
.pop_xz img{ width:100%;}
.pop_closed{ background:url(../images/closed.jpg) no-repeat -29px 0;width:29px; height:30px; display:block; position:absolute; left:0;top:0;}

div.nav.indexnav a  { width:16%}
.nav a.qiandao{ background:#ff770d; border-radius:6px; color:#fff; height:32px; line-height:32px;margin-top:4px}

/*����*/
.renqi,.shoucang,.pinglun,.hebao,.yuepiao{font-size:16px}
.renqi{border-bottom:2px solid #1dbdd7;color:#1bbdd4}
#xsbol ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,p,form,span,i,em,u,cite,small,table,img,div{border:none;padding:0;margin:0;list-style:none;font-style:normal}
#xsbol ol{margin:15px auto;width:95%}
#xsbol ol li{background:#fff;border-bottom:1px solid #efefef}
#xsbol ol li a{white-space:nowrap;overflow:hidden;font-size:14px;text-overflow:ellipsis;display:block;line-height:50px;height:50px;padding:0 5%}
ol li a span,ol li a i{border:1px solid #e7604a;display:inline-block;font-size:12px;border-radius:15px;width:15px;height:15px;line-height:15px;text-align:center;margin-right:10px;color:#e7604a;vertical-align:middle}
ol li a i{border:1px solid #14b9d5;color:#14b9d5}
#xsbol ol li a em{color:#999999;font-style:normal;float:right;font-size:12px}
#xsbol ol li a:active,ol li a:hover{background:#efefef}